body {
    background-color: black;
}

#title {
    color: white;
    padding: 25px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

.nav-item {
    padding: 12px;
    padding-left: 30px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

#search-bar {
    padding: 12px;
}

#top-content {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search {
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 7px;
}

#main-content {
    width: 800px;
    padding: 15px;
    background-color: rgb(58, 58, 58);
    position: relative;
    top: 15px;
}

.movie {
    width: 800px;
    padding: 15px;
    background-color: rgb(58, 58, 58);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(37, 37, 37);
}

h1 {
    color: rgb(131, 131, 131);
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 10;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}

p {
    color: rgb(218, 218, 218);
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 10;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}

#movies-searchable {
    margin: 35px;
    padding: 60px;
}

.movie-poster {
    margin: 10px;
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    border-style: solid;
    border-width: 10px;
}

#inputValue {
    width: 170px;
    padding: 6.5px 4.5px;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

section img {
    width: 300px;
    transition: 250ms all;
}

img:hover {
    margin-left: 0 30px;
    transform: scale(1.2);
    cursor: pointer;
}

.thumbnail {
    height: 350px;
}

.col-md-4 img:hover {
    transform: none;
    cursor: default;
}

.col-md-8 h4{
    color:rgb(218, 218, 218);
}

h4{
    color:rgb(218, 218, 218);
}

h5{
    color:rgb(218, 218, 218);
}

h6 {
    color: white;
    border-color: #198754;
}